.main-menu .nav{
    float: right;
    
    a {
        background-color: darkred;
        color: gold;
        text-align: center;
        margin: 1px;
        width: 100px;
        &:hover{
            background-color: gold;
            color: darkred;
        }
    }
}