.content{
    background-color: #ebd5b3;
    
    .field {
        width: 90%;
        padding: 20px;
    }
    a {
        color: green;
        &:hover{
            color: lightgreen;
        }
    }
    code {
        background-color: #f3e5d1;
    }
    pre {
        background-color: #f3e5d1;
    }
    blockquote {
        background-color: #f3e5d1;
        border-left: 10px solid darkred;
        &:before {
              color: #ccc;
              content: open-quote;
              font-size: 4em;
              line-height: 0.1em;
              margin-right: 0.25em;
              vertical-align: -0.4em;
        }
    }
}