.page-header {
    color: darkred;
    border-bottom: none;
    background-color: #ebd5b3;
    margin-bottom: 0px;
    font-size: 3em;
    padding-left: 70px;
    border-radius: 20px 20px 0px 0px;
}

.nav.nav-tabs{
    border-bottom: 1px solid gold;
    li {
        a {
            color: darkred;
            &:hover{
                background-color: gold;
            }
        }
        .is-active {
            background-color: darkred;
            color: gold;
            border-top: 1px solid gold;
            border-left: 1px solid gold;
            border-right: 1px solid gold;
        }
    }
    
}