.view-shows {
    .views-row {
        background-color: #ebd5b3;
        height: 300px;
        .views-field-title{
            font-size: 2em;
            text-align: center;
            color: darkgreen;
        }
        .views-field-field-synopsis div{
            height: 200px;
            overflow: scroll;
            overflow-x: hidden;
            background-color: #d3bfa1;
            
            &::-webkit-scrollbar {
                width: 5px
            }
            &::-webkit-scrollbar-track {
                background-color: #8d7f6b;
            }
            &::-webkit-scrollbar-thumb {
                background: black;
                border-radius: 25px;
                height: 1px;
            }

            p {
                text-align: justify;
                &:first-child:first-letter {
                    font-size: 3em;
                    color: #8B0000;
                }
            }
        }
        .views-field-field-event-dates{
            color: #8B0000
        }
    }
    
}