#block-views-block-groups-view-block-1 {
    background-color: #ebd5b3;
    padding: 10px;
    padding-top: 0px;
    .block-title {
        text-align: center;
        color: darkred;
        
    }
    .views-field-title a{
        color: darkgreen;
        text-decoration: none;
        &:hover {
            color: green;
        }
    }
}