@import url(../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css);
body {
  background-color: #605b5b; }

.main-menu .nav {
  float: right; }
  .main-menu .nav a {
    background-color: darkred;
    color: gold;
    text-align: center;
    margin: 1px;
    width: 100px; }
    .main-menu .nav a:hover {
      background-color: gold;
      color: darkred; }

.logo.navbar-btn img {
  width: 70%; }

.page-header {
  color: darkred;
  border-bottom: none;
  background-color: #ebd5b3;
  margin-bottom: 0px;
  font-size: 3em;
  padding-left: 70px;
  border-radius: 20px 20px 0px 0px; }

.nav.nav-tabs {
  border-bottom: 1px solid gold; }
  .nav.nav-tabs li a {
    color: darkred; }
    .nav.nav-tabs li a:hover {
      background-color: gold; }
  .nav.nav-tabs li .is-active {
    background-color: darkred;
    color: gold;
    border-top: 1px solid gold;
    border-left: 1px solid gold;
    border-right: 1px solid gold; }

.content {
  background-color: #ebd5b3; }
  .content .field {
    width: 90%;
    padding: 20px; }
  .content a {
    color: green; }
    .content a:hover {
      color: lightgreen; }
  .content code {
    background-color: #f3e5d1; }
  .content pre {
    background-color: #f3e5d1; }
  .content blockquote {
    background-color: #f3e5d1;
    border-left: 10px solid darkred; }
    .content blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em; }

.view-shows .views-row {
  background-color: #ebd5b3;
  height: 300px; }
  .view-shows .views-row .views-field-title {
    font-size: 2em;
    text-align: center;
    color: darkgreen; }
  .view-shows .views-row .views-field-field-synopsis div {
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #d3bfa1; }
    .view-shows .views-row .views-field-field-synopsis div::-webkit-scrollbar {
      width: 5px; }
    .view-shows .views-row .views-field-field-synopsis div::-webkit-scrollbar-track {
      background-color: #8d7f6b; }
    .view-shows .views-row .views-field-field-synopsis div::-webkit-scrollbar-thumb {
      background: black;
      border-radius: 25px;
      height: 1px; }
    .view-shows .views-row .views-field-field-synopsis div p {
      text-align: justify; }
      .view-shows .views-row .views-field-field-synopsis div p:first-child:first-letter {
        font-size: 3em;
        color: #8B0000; }
  .view-shows .views-row .views-field-field-event-dates {
    color: #8B0000; }

#block-views-block-groups-view-block-1 {
  background-color: #ebd5b3;
  padding: 10px;
  padding-top: 0px; }
  #block-views-block-groups-view-block-1 .block-title {
    text-align: center;
    color: darkred; }
  #block-views-block-groups-view-block-1 .views-field-title a {
    color: darkgreen;
    text-decoration: none; }
    #block-views-block-groups-view-block-1 .views-field-title a:hover {
      color: green; }
